<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{title}}</a>
        <a class="btn btn-primary" href="/login">Sign In</a>
    </div>
</nav>